*{
    margin: 0px;
    padding: 0px;
}
header{
    margin: 1px;
    padding: 10px;
    text-align: center;
    
}

body{
    background-color: rgb(98, 98, 226);
    border: 5px dashed blue
}

#page{
    height: 100vh;
    padding: 20px;
    
}
#cur1{
    width: 30%;
    border: 2px solid black;
}
#cur2{
    width: 30%;
    border: 2px solid black;

}
article{
    background-color: green;
    color: white;
}
