*{
    margin: 0px;
    padding: 0px;
}
header{
    margin: 3px;
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    font-family: helvetica;
    font-weight: bold;
}
.questions{
    text-align: center;
    padding: 20px
}
.q1,.q2,.q3,.q4,.q5{
    margin: 20px;
    padding: 10px;

}