*{
    margin: 0px;
    padding: 0px;
}
header{
    margin: 3px;
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    font-family: helvetica;
    font-weight: bold;
}
body{
   
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 

}
.questions{
    text-align: center;
    padding: 20px;
    font-family: helvetica;
}
.q1,.q2,.q3,.q4,.q5{
    margin: 20px;
    padding: 10px;

}
#button{
    background-color: peru;
    color: black;
    border: 2px solid black;
    border-radius: 4px; 
      
}